<form (ngSubmit)="login()">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="email" placeholder="Ingrese email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Ingrese contraseña"></ion-input>
  </ion-item>

  <br>

  <ion-button type="submit" expand="full" color="success">Login</ion-button>
</form>

<br>

<ion-button (click)="register()" expand="full" color="danger">Registrar</ion-button>


<!--
<p>
  login works!
</p>
-->