.new-background-color{
    --background: #4168bb;
  }

h2 {
    text-align: center;
  }

h3 {
    color: white;
  }

.regiscol2{
    --background: #295dc7;
    --color: white;
  }

swiper-container {
  width: 80%;
  height: 40%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.autoimg {
  height: 500px;
}