<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="person-circle" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><h3><b>Automoviles Inc.</b></h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="root">
  <br><br>
  <ion-button expand="full" color="primary" routerLink="/registrar">Ver Autos</ion-button>

  <ion-slides pager="true">
    <ion-slide>
      <ion-img class="autoimg" src="assets/img/auto1.png"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img class="autoimg" src="assets/img/auto1.png"></ion-img>
    </ion-slide>

  </ion-slides>
</ion-content>